.main .category_wrap,
.main .banner_wrap {
    padding-left: 15px;
    padding-right: 15px;
}

/*main_gallery_wrap */
.main .main_gallery_wrap {
    height: 684px;
    position: relative;
}

.main .slider1_wrap .swiper-pagination {
    bottom: 44px;
}

.main .slider1_wrap .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    opacity: 1;
    background: #fff;
}

.main .slider1_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #00b9ef;
    transform: scale(1.6);
}

.main .main_gallery_wrap .slider1_wrap {
    height: 100%;
}

.main .main_gallery_wrap .main_gallery_item {
    position: relative;
    height: 100%;
}

.main .main_gallery_wrap .gallery_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    min-width: 453px;
    padding: 48px 43px 48px 57px;
    /*background: rgba(225,225,225,0.8);*/
    white-space: pre;
}

.main .main_gallery_wrap .gallery_content:after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    background: #fff;
    opacity: 0.8;
    display: block;
    width: 100%;
    height: 100%;
}

.main .main_gallery_wrap .gallery_inner {
    position: relative;
    z-index: 2;
    width: 100%;
}

.main .main_gallery_wrap .gallery_content .title {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.04em;
    margin-bottom: 12px;
    width: 353px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .main_gallery_wrap .gallery_content .content {
    font-size: 16px;
    line-height: 1.4;
    word-spacing: -0.05em;
    margin-bottom: 29px;
    width: 353px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main .main_gallery_wrap .btn_group a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 38px;
}

/*category*/
.main .category_wrap {
    padding: 0 14px;
}

.main .category_wrap .category_header {
    padding: 74px 0 54px 0;
    text-align: center;
}

.main .category_wrap .category_header .title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.main .category_wrap .category_header .info {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
}

.main .category_wrap .menu_blocks {
    height: 420px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
}


.main .category_wrap .menu_blocks .block {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 18px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.main .category_wrap .menu_blocks .block.block1 {
    grid-column: 1 / span 2;
    background: url("../images/img_category01.png") center center no-repeat;
    background-size: cover;
}

.main .category_wrap .menu_blocks .block.block2 {
    grid-row: auto / span 2;
    background: url("../images/img_category02.png") center center no-repeat;
    background-size: cover;
}

.main .category_wrap .menu_blocks .block.block3{
    background: url("../images/img_category03.png") center center no-repeat;
background-size: cover;
}
.main .category_wrap .menu_blocks .block.block4{
    background: url("../images/img_category04.png") center center no-repeat;
background-size: cover;
}
.main .category_wrap .menu_blocks .block.block5{
    background: url("../images/img_category05.png") center center no-repeat;
background-size: cover;
}
.main .category_wrap .menu_blocks .block.block6{
    background: url("../images/img_category06.png") center center no-repeat;
background-size: cover;
}

.main .category_wrap .btn_group {
    /*padding: 43px 0 28px 0;*/
    margin: 20px 0 28px 0;
    text-align: center;
    cursor: pointer;
    height: 46px;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position:relative;
    z-index: 1;
}

.main .event_wrap {
    margin-top: -100px;
    padding: 152px 14px 0 20px;
    background: #f1f1f1;
}

.main .event_inner {
    display: flex;
    grid-gap: 24px;
    height: 263px;
}

.main .event_wrap .left_section {
    min-width: 159px;
    max-width: 159px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .event_wrap .left_section .btn {
    width: 100%;
    height: 38px
}

.main .event_wrap .left_section .title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.06em;
    margin-bottom: 18px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;

}

.main .event_wrap .left_section .content {
    font-weight: 400;
    line-height: 1.4;
}

.main .event_wrap .event_list {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    grid-gap: 10px;
}

.main .event_wrap .event_item {
    width: 170px;
}

.main .event_wrap .swiper-container {
    padding-bottom: 72px;
}

.main .event_wrap .swiper-pagination {
    bottom: 17px;
}

.main .event_wrap .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #d4d4d4;
    opacity: 1;
}

.main .event_wrap .swiper-pagination-bullet-active {
    background: #3982d8;
}

/*banner_wrap*/
.main .banner_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .banner_wrap .img_wrap {
    display: block;
    width: 100%;
    height: 191px;
    overflow: hidden;
    border-radius:10px;
    background-color: #bbb;
}
.main .banner_wrap .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #d4d4d4;
    opacity: 1;
}
.main .banner_wrap .swiper-pagination-bullet-active {
    background: #3982d8;
}

/*popular_wrap*/
.main .popular_wrap {
    padding: 45px 20px 60px 20px;
}

.main .popular_wrap .popular_list,
.main .celeb_wrap .celeb_list{
    overflow: hidden;
    margin-right: -30px;
}

.main .popular_wrap .popular_item,
.main .celeb_wrap .celeb_item{
    float: left;
    width: 25%;
    padding-right: 30px;
}

.main .card {
    /*height: 242px;*/
}

.main .card .card_inner .img {
    height: 124px;
    cursor:pointer;
}

.main .popular_list .card .card_inner .content,
.main .celeb_list .card .card_inner .content {
    height: calc(86% - 124px);
}

.main .combine_wrap {
    margin-bottom: 59px;
}

.main .combine_list{
    overflow: hidden;
    margin-right: -28px;
}

.main .combine_item_wrap {
    float: left;
    width: 50%;
    padding-right: 28px;
}

.main .section_header {
    margin-bottom: 30px;
}

.main .event_wrap .left_section .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}


/*메인화면 에이전시 , 인증마크*/
.card_inner .img .badge {
    position:absolute;
    top: 0;
    left: 0;
    border-radius:0px;
    width: 60px;
    height: 22px;
    font-size: 12px;
}

.card_inner .content .brand_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0 0;
    height: 25px;
    grid-gap: 2px;
}

.combine_item .sub_item_item .sub_info_wrap .name_wrap {
    display: flex;
    grid-gap:6px;
    align-items: center;
}
.combine_item .sub_item_item .sub_info_wrap .name_wrap .name {
    /*width: auto;*/
    /*overflow: visible;*/
    /*max-width:none;*/
}
.combine_item .sub_item_item .sub_info_wrap .name_wrap .badge {
    min-width: 60px;
    font-size: 10px;
    padding: 0;
    border-radius: 4px;
}
.combine_item .sub_item_item .sub_info_wrap .change_price_wrap {
    flex-direction: unset;
    justify-content: flex-start;
    font-size: 11px;
    font-weight: 400;
}

/*장바구니 누르면 나오는 팝업*/
.popup_wrap.cart_popup .container {
    min-width:420px;
    max-width: 420px;
    width: unset;
}

.cart_popup .cart_popup_container .cart_popup_content {
    display: flex;
    grid-gap: 14px;
    padding: 20px 0px;
    border-top: 1px solid #bebbc9;
    border-bottom: 1px solid #f2f1f4;
}
.cart_popup_content .img_wrap {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#bbb;
}
.cart_popup_content .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart_popup_content .info {
    width:calc(100% - 100px)
}
.cart_popup_content .info .title {
    font-size: 14px;
    letter-spacing: -0.025em;
    color: #666666;
    text-align: left;
}
.cart_popup_content .info .text {
    font-size: 16px;
    letter-spacing: -0.025em;
    color: #333333;
    margin-top: 10px;
    text-align: left;
}
.cart_popup_content .info .price {
    margin-top: 24px;
    color: #000000;
    font-size: 18px;
}
.cart_popup_container .util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.cart_popup_container .util .number .number_top {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}
.cart_popup_container .util .number .number_top .number_text {
    font-size: 14px;
    color: #878296;
}
.cart_popup_container .util .number .number_top .counter_vertical_wrap {
    width: 100px;
}

.cart_popup_container .util .number .number_bot {
    margin-top: 12px;
}
.cart_popup_container .util .number .number_bot .number_subtext {
    font-size: 12px;
    color: #bbbbbb;
}
.cart_popup_container .all_price {
    text-align: right;
}
.cart_popup_container .all_price .all_price_text {
    color: #878296;
    font-size: 14px;
}
.cart_popup_container .all_price .all_price_money {
    font-size: 18px;
    margin-top: 15px;
    color: #000;
}

.cart_popup .cart_popup_container .cart_popup_content .change_price_wrap {
    align-items: flex-start;
    margin-top: 14px;
}
.cart_popup .cart_popup_container .cart_popup_content .change_price_wrap p {
    font-size: 18px;
}



/*장바구니 팝업에서 담기 누르면 나오는 팝업*/
.register_info_popup.add_cart_popup .container {
    height: 170px;
}
.register_info_popup.add_cart_popup .content {
    height: 100px;
}
.register_info_popup.add_cart_popup .btn {
    width: 150px;
}

.register_info_popup.add_cart_popup .btn_group {
    grid-gap:6px;
    display: flex;
}

/*메인 검색결과 페이지*/
.search_result .section_header .title {
    font-size: 20px;
}

.search_result .no_result_wrap {
    height:500px;
}
.search_result .no_result_wrap .no_result {
    color: #999999;
    background: url("../images/ico_noresult.png") center center no-repeat;
    padding-top: 150px;
}

.card_inner .content .brand_wrap.mo_brand_wrap {
    display: none;
}

/* 220809 추가 */
.link_flex {
    display: flex;
    width: calc(100% - 66px);
}

/* 220818 추가 */


/*.card_type02 .change_price_wrap {
    gap: 1px;
    margin-bottom: 0;
}*/












/* ++++ common*/



